@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.title{
    text-align: center;
    padding-bottom: 1rem;
}
@media(max-width:800px){
    *{
        padding: 3px;
        margin: 3px;
    }
    .container{
        width: 100%;
    }
}

#icon{
    float: right;
}
#person{
    height:3rem;
    width:3rem;
}
.btn1{
    background-color: hsl(206, 21%, 94%);
}
.dec{
    text-decoration: none;
    position: relative;
}