
.btn{
    text-align: center;
}
.title{
    text-align: center;
    padding-bottom: 1rem;
}
.container{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2rem;
    padding: 2rem;
}
@media(max-width:800px){
    *{
        padding: 3px;
        margin: 3px;
    }
    .container{
        width: 100%;
    }
}


